* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
}

/* HEADER STYLES */

ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    gap: 16px;
}

header ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}


.header-container {
    width: 100%;
    margin: 0 auto;
    background-color: #1F2937;
}

.header {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header header {
    display: flex;
    padding: 16px 24px;
}

.header-content {
    display: flex;
    padding: 96px 24px;
    gap: 96px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.intro p {
    color: #E5E7EB;
    font-size: 16px;
}

.intro button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 6px;
    border: none;
    width: fit-content;
    padding: 8px 24px;
    font-size: 16px;
}

.img-placeholder {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #95979B;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


/* INFORMATION BLOCK STYLES */

.information {
    width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
}

.information h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.image-block {
    display: flex;
    gap: 36px;
}

.image-block div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    flex: 1;
    height: 15%;
    width: fit-content;
}

.image-block img {
    height: 160px;
    width: 100%;
    display: inline-block;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

/* QUOTEBOX STYLES */

.quotebox {
    width: 100%;
    background-color: #E5E7EB;
    padding: 96px 0;
}

.quote {
    margin: 0 auto;
    width: 800px;
}

.quote p:first-child {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote p:last-child {
    text-align: right;
    font-weight: 700;
    margin-right: 36px;
    font-size: 18px;
}

/* CALL TO ACTION STYLES */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.call-box {
    display: flex;
    width: 900px;
    background-color: #3882f6;
    padding: 50px 128px;
    border-radius: 12px;

}

.call-info p:first-child {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
}

.call-info p:last-child {
    color: #E5E7EB;
    font-size: 14px;
}

.call-button {
    color: #E5E7EB;
    margin-left: auto;
    border: 2px solid #E5E7EB;
    background-color: #3882f6;
    padding: 4px 36px;
    border-radius: 6px;
    font-size: 16px;
}