* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER STYLES */

ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    gap: 16px;
}

 header ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #1F2937;
}

.header {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header header {
    display: flex;
    padding: 16px 24px;
}

.header-content {
    display: flex;
    padding: 96px 24px;
    gap: 96px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.intro p {
    color: #E5E7EB;
    font-size: 16px;
}

.intro button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 6px;
    border: none;
    width: fit-content;
    padding: 4px 18px;
    font-size: 18px;
}

.img-placeholder {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #95979B;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}
